<% content_for :head do %>
  <title>CampusPeer | Most Wanted Books</title>
  <%= stylesheet_link_tag "most_wanted_book", :media => "all" %>
  <%= stylesheet_link_tag "table", :media => "all" %>
  <%= stylesheet_link_tag "search", :media => "all" %>
  <%= javascript_include_tag "most_wanted_book" %>
  <%= stylesheet_link_tag "placeholder", :media => "all" %>
<% end %>

<div id="page-title">Most Wanted Books</div>

<br />

<div id="searchform2">
  <%= form_tag search_book_transactions_path, :method => 'get', :id => "search-form2" do %>
  <label class ="input2">
    <span> Enter ISBN or Title </span>
    <%= text_field_tag :search, params[:search], :id => "searchbox2", :class => "autofocus"%>
  </label>
    <%= submit_tag "", :name => nil, :type => :image, :src => "/assets/Shared/TransparentMoreResultsSearchBtn.png", :id => "search-btn2" %>
  <% end %>
</div>

<div id="search-items">
  <%= render 'search' %>
</div>
