<% content_for :head do %>
  <title>CampusPeer | Password Lookup</title>
  <%= stylesheet_link_tag "devise/PasswordNew", :media => "all" %>
<% end %>

<div id="content-title"><h3>Password Lookup</h3></div>
<div id="content-form">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :novalidate => 'novalidate'}) do |f| %>
  <% flash.now[:notice] = resource.errors.full_messages %>

  <table cellspacing="10">
  	<tr>
  	  <td><%= f.label :email %></td>
  	  <td><%= f.email_field :email, :class => "text-box", :autofocus => true %></td>
  	  <td style="text-align:right; padding-top:3px;"><%= f.submit "", :type => :image, :src => "/assets/Shared/SubmitBtn5.png" %></td>
  	</tr>
  </table>

  <br />
  <p id="info">* Reset password instructions will be sent to you.</p>

  <% end %>
</div>

<div id="user-links">
  <%= link_to "SIGN IN", new_session_path(resource_name) %>  
  <b>·</b>
  <%= link_to "SIGN UP", new_registration_path(resource_name) %>
</div>