<% content_for :head do %>
  <title>CampusPeer | Sell Books</title>
  <%= stylesheet_link_tag "sell_book_items", :media => "all" %>
  <%= stylesheet_link_tag "search", :media => "all" %>
   <%= stylesheet_link_tag "placeholder", :media => "all" %>
   <%= stylesheet_link_tag    "adipoli", :media => "all" %>
  <%= javascript_include_tag "books" %>
  <%= javascript_include_tag "effects" %>
<% end %> 
<div id="page-title">
  <%= image_tag("/assets/Shared/abcBar.png")%>
</div>
<div id="stw">Spread The Word!</div>
<div id="searchform">
  <%= form_tag sell_book_items_path, :method => 'get' do %>  
      <label class="input3">
          <span>Enter ISBN or Title</span>
        <%= text_field_tag :search, params[:search], :id => "searchbox", :class => "autofocus"%>
      </label>
       <div><%= submit_tag "", :name => nil, :type => :image, :src => "/assets/Shared/TransparentSearchBtn.png", :id => "search-btn" %></div>
  <% end %>
</div>

<div id="tip">Tip: To ensure optimal results, <br/> &nbsp
&nbsp &nbsp search by ISBN.</div>
<br/><br/>

<div id="books-area">
  <%= render 'shared/books', { :books => @books, :path => "sell" } %>
</div>
<br />

<div id="scattered-books"></div>

<div id="loading"></div>
