<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "layouts/simple", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

